fastapi==0.110.0
uvicorn==0.27.1
langchain==0.1.13
langchain-groq==0.1.0

pydantic==2.6.4
python-dotenv==1.0.1
bandit==1.7.8
safety==3.1.0
psutil==5.9.8
requests==2.31.0
duckduckgo-search==5.3.1 
 
slowapi==0.1.9
